# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

node_modules

diagnowise-ehr-encryption-firebase-adminsdk-fbsvc-c019587d40.json

__pycache__

diagnowise-ehr-encryption-firebase-adminsdk-fbsvc-02fad0e53d.json

# Node / Next.js build artifacts
FrontEnd/.next/
FrontEnd/node_modules/
FrontEnd/out/

# Python virtual environment
venv/
FrontEnd/venv/

# OS / Editor junk
.DS_Store
Thumbs.db
.env
